@model Registration.ViewModel.ChangePasswordViewModel

@{
    Layout = "_RegistrationLayout";
}

<div class="container">
    <div class="row" style="margin-top: 170px; margin-bottom:100px; ">

        <div class=" col-4 offset-4">

            <h1 class="text-center">Change Password</h1>

            <div class="text-success">

                @if (ViewBag.message != null)
                {
                    <p class="text-danger" id='message'>@ViewBag.message</p>
                }

            </div>

            <div class="form-control">

                <form asp-action="ChangePassword" method="post">

                    <input type="hidden" asp-for="Id" readonly/>

                    <div class="mb-3">
                        <label class=" form-label">Old Password</label>
                        <input class="form-control" asp-for="Password" placeholder="Enter OldPassword" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">New Password</label>
                        <input class="form-control" asp-for="NewPassword" placeholder="Enter NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">Confirm Password</label>
                        <input class="form-control" asp-for="ConfirmPassword" placeholder="Enter ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="col-12">

                        <button type="submit" class=" btn btn-primary">Update</button>
                         <a class="btn btn-danger text-white" asp-action="DashBoard">Cancel</a>
                       

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        setTimeout(function () {
            $('#message').hide(5000);
        });
    </script>
}
