@model Registration.Models.RegistrationDb

<div class="container">

    <div class="row">

        <div class=" col-4 offset-4">


            <h1 class=" text-center">ForgotPassword</h1>

            <div class="form-control">

                <form asp-action="ForgotPassword" method="post">

                    <div class="mb-3">
                        <label class=" form-label">Email</label>
                        <input class=" form-control" asp-for=Email placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-12">

                        <button type="submit" class=" btn btn-primary">Submit</button>
                       
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
