@model Registration.Models.RegistrationDb

<div class="container">

    <div class="row">

        <div class=" col-4 offset-4">


            <h1 class=" text-center">ForgotPassword</h1>

            <div class="text-success">

                @*For the invalid mail in forgot password*@
                @if (TempData["messageFail"] != null)
                {
                    <p class="text-danger" id='message'>@TempData["messageFail"]</p>
                }

            </div>

            <div class="form-control">

                <form asp-action="ForgotPassword" method="post">

                    <div class="text-success">
                        @ViewBag.Message
                    </div>

                    <div class="mb-3">
                        <label class=" form-label">Email</label>
                        <input class=" form-control" asp-for=Email placeholder="Enter Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-12">

                        <button type="submit" class=" btn btn-primary">Submit</button>
                        <a class="btn btn-primary text-white" asp-action="Register">Cancel</a>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        setTimeout(function () {
            $('#message').hide(5000);
        });
    </script>
}